body {
background-color: white;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
font-family: arial;

}

img {
  height: 20vh;
  width: 15vw;

}

font-size { height: 2vh;
  width: 2vw;
}
h1,h2,p,h3,ul,ol {color:#000000;
}

.nuevo {display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  padding: 20px;

}

@font-face {
  font-family: arial;
}

h3 {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  background-color: #C2C1C1;

}

h1{width: 100%;
background: #1f53c5;
border: none;
padding: 17px;
color: white;
margin: 18px 0;
}


.flow {
background-color: #0377AE;

}

nav.hover{
  color: red;
}

section {
float:left;
width: 48%;
height: 2700px;
overflow: auto;
margin: 1%;
background-color: #C2C1C1;
box-shadow: 7px 13px 37px #000;

}

aside {  width: 47%;
float: left;
height: 1000px;
overflow: scroll;
margin: 1%;
border: 2px solid #6D6C6C;
background-color: #C2C1C1;
box-shadow: 7px 13px 37px #000;
}

footer{
   clear:both;
}

.imagen {
position: fixed;
top: 85%;
right: 1px;
}

.modo {
  position: fixed;
  top: 85%;
  left: 1px;

}
